#login{
	color:white;
	border-radius:5px;
	background-color:blue;
	font-size:20px;

}

#invalid{
	color:white;
	border-radius:5px;
	background-color:red;
	font-size:20px;
}
#table{ 
    background-color:cyan;
}

